@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-main: #F1F5F9;
  --background-accent: #FFFFFF;
  --dark-background-main: #020617;
  --dark-background-accent: #0F172A;
}

@layer base {
  :not(.dark) body {
    background: linear-gradient(203deg in hsl shorter hue,
      var(--background-main) 15%,
      var(--background-accent),
      var(--background-main) 35%,
      var(--background-main) 50%,
      var(--background-accent),
      var(--background-main) 80%
    );
  }

  .dark body {
    background: linear-gradient(203deg in hsl shorter hue,
      var(--dark-background-main) 15%,
      var(--dark-background-accent),
      var(--dark-background-main) 35%,
      var(--dark-background-main) 50%,
      var(--dark-background-accent),
      var(--dark-background-main) 80%
    );
  }

  body {
    caret-shape: underscore;
    @apply h-screen flex flex-col items-center bg-bg-light text-fg-light dark:bg-bg-dark dark:text-fg-dark antialiased font-primary;
  }

  main {
    @apply flex-1 w-full min-w-0 xl:min-w-[80rem] max-w-screen-xl xl:w-4/5 mx-auto px-4 sm:px-8 pt-6 md:pt-8 xl:pt-10 pb-6;
  }

  ::-webkit-scrollbar {
    @apply w-2 h-2 rounded-lg bg-bg-light-accent dark:bg-bg-dark;
  }
  ::-webkit-scrollbar-track {
    @apply mt-[83px] rounded-lg bg-bg-light dark:bg-bg-dark;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-slate-300 dark:bg-slate-500;
  }
  ::-webkit-scrollbar-corner {
    @apply rounded-lg bg-bg-light dark:bg-bg-dark;
  }

  h1 {
    @apply text-3xl font-semibold font-accent;
  }
  h2 {
    @apply text-2xl font-medium;
  }
  h3 {
    @apply text-xl;
  }

  .btn {
    @apply px-4 py-2 rounded-md bg-bg-light-accent dark:bg-bg-dark-accent dark:hover:bg-bg-dark-accent dark:hover:text-white border border-slate-400 dark:border-slate-500 hover:border-transparent disabled:border-slate-300 dark:disabled:border-slate-600 disabled:hover:border-slate-300 disabled:hover:dark:border-slate-600 transition ease-in-out duration-200 font-medium disabled:text-slate-400 disabled:hover:text-slate-400 dark:disabled:text-slate-500 dark:disabled:hover:text-slate-500;
  }

  .btn-accent {
    @apply text-sky-700 bg-sky-100 dark:text-sky-100 dark:bg-sky-950 dark:hover:bg-sky-950;
  }

  .text-field {
    @apply rounded-md bg-bg-light-accent dark:bg-bg-dark-accent border border-slate-300 dark:border-slate-600 px-3 hover:border-transparent transition ease-in-out duration-200;
  }

  .table-inpt {
    @apply h-8 px-[9px] border-[0.5px] border-slate-500 hover:border-fg-light focus:border-fg-light dark:hover:border-fg-dark dark:focus:border-fg-dark shadow-none rounded text-fg-light dark:text-fg-dark dark:bg-bg-dark-accent transition ease-in-out duration-200;
  }
  
  *:focus {
    @apply outline-none;
  }

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
