@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen flex flex-col items-center bg-bg-lt text-fg-lt antialiased;
  }

  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-bg-dk text-fg-dk;
    }
  }

  main {
    @apply flex-1 w-full min-w-0 xl:min-w-[80rem] max-w-screen-xl xl:w-4/5 mx-auto px-4 sm:px-8 py-8;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
